<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Discussion_Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Discussion_Forum.styles.css" asp-append-version="true" />
    <link href="~/CommonCss/TextBoxValidation.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Discussion_Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex">
                            @if (User.IsInRole("admin"))
                            {
                                <div class="dropdown me-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Discussion</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="AddDiscussion" asp-controller="Discussion">+Add Discussion</a></li>
                                        <li><a class="dropdown-item" asp-action="DiscussionList" asp-controller="Discussion">List of Discussions</a></li>
                                    </ul>
                                </div>

                                <div class="dropdown me-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Forum</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="AddForum" asp-controller="Forum">+Add Forum</a></li>
                                        <li><a class="dropdown-item" asp-action="ForumList" asp-controller="Forum">List of Forums</a></li>
                                    </ul>
                                </div>
                            }
                            <a class="btn btn-secondary text-light" style="margin-right: 5px" asp-action="AddTopic" asp-controller="Topic">+Add Topic</a>
                            <div class="dropdown me-1">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Account</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile">Profile</a></li>
                                    <li><a class="dropdown-item" asp-action="UpdateProfile" asp-controller="Profile">Edit</a></li>
                                    <li><a class="dropdown-item" asp-action="ChangePassword" asp-controller="Profile">Change Password</a></li>
                                </ul>
                            </div>
                            <a class="nav-link text-dark" asp-controller="Login" asp-action="LogOut">LogOut</a>
                        </div>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Register" asp-action="Index">Register</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Discussion_Forum
        </div>
    </footer>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@if (TempData["error"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '@Html.Raw(TempData["error"])',
            confirmButtonText: 'Ok',
        })
    </script>
}

@if (TempData["success"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            text: '@Html.Raw(TempData["success"])',
            confirmButtonText: 'Ok',
        })
    </script>
}

@if (TempData["info"] != null)
{
    <script>
        Swal.fire({
            icon: 'info',
            title: 'Message',
            text: '@Html.Raw(TempData["info"])',
            confirmButtonText: 'Ok',
        })
    </script>
}

@if (TempData["warning"] != null)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Warning',
            text: '@Html.Raw(TempData["warning"])',
            confirmButtonText: 'Ok',
        })
    </script>
}
