<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Discussion_Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Discussion_Forum.styles.css" asp-append-version="true" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .field-validation-error {
            color: red
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 95vh;
        }

        footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Discussion_Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="LogOut">LogOut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Register" asp-action="Index">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Discussion_Forum
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@if (TempData["error"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'خطا!',
            text: '@Html.Raw(TempData["error"])',
            confirmButtonText: 'باشه',
        })
    </script>
}

@if (TempData["success"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            text: '@Html.Raw(TempData["success"])',
            confirmButtonText: 'باشه',
        })
    </script>
}

@if (TempData["info"] != null)
{
    <script>
        Swal.fire({
            icon: 'info',
            title: 'پبغام',
            text: '@Html.Raw(TempData["info"])',
            confirmButtonText: 'باشه',
        })
    </script>
}

@if (TempData["warning"] != null)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'اخطار',
            text: '@Html.Raw(TempData["warning"])',
            confirmButtonText: 'باشه',
        })
    </script>
}
