
@{
    ViewData["Title"] = "Update Topic";
}

@model TopicViewModel
<div class="container">
    <form asp-action="ConfirmUpdateTopic" id="submitForm">
        <div class="form-group">
            <div>
                <label>Discussion:</label>
                <select asp-for="@Model.discussionId" class="form-control form-select" id="discussionSelect" discussionId="@Model.discussionId">
                    <option value="@Model.topic.Forum.discussion.id">@Model.topic.Forum.discussion.name</option>
                    @foreach (var item in Model.discussions)
                    {
                        if (Model.topic.Forum.discussion.name != item.name)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.discussionId"></span>
            </div>

            <div>
                <label>Forum:</label>
                <select asp-for="@Model.forumId" class="form-control form-select" id="forumSelect">
                    <option value="@Model.topic.Forum.id">@Model.topic.Forum.name</option>
                    @foreach (var item in Model.forums)
                    {
                        <option value="@item.id">@item.name</option>
                    }
                </select>
                <span asp-validation-for="@Model.forumId"></span>
            </div>
        </div>
        <div class="form-group" style="margin-top: 15px">
            <label>Name:</label>
            <input class="form-control" asp-for="@Model.name" value="@Model.topic.name" />
            <span asp-validation-for="@Model.name"></span>
        </div>
        <div class="form-group" style="margin-top: 15px">
            <label>Description:</label>
            <textarea class="form-control" asp-for="@Model.description" rows="5" required>@Model.topic.description</textarea>
        </div>
        <span asp-validation-for="@Model.description"></span>
        <div style="margin-top: 10px">
            <button class="btn btn-outline-warning" type="submit">Save Changes</button>
        </div>
        <input hidden asp-for="@Model.topic.id" />
    </form>
</div>

<script src="~/CommonJs/ConfirmationMessageInAdd.js"></script>
<script src="~/CommonJs/SelectBoxChange.js"></script>
<script>
    onSelectBoxChange($(discussionSelect), $(forumSelect), function () {
        $(forumSelect).html('');
    })
</script>
