
@{
    ViewData["Title"] = "Register";
}

@model RegisterViewModel

<div class="container">
    <h1>Register</h1>
    <form asp-action="CreateUser">
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" asp-for="@Model.userName" />
            <span asp-validation-for="@Model.userName"></span>
        </div>
        <div class="form-group" style="margin-top: 15px">
            <label>Password:</label>
            <input class="form-control" type="password" asp-for="@Model.password" />
            <span asp-validation-for="@Model.password"></span>
        </div>
        <div class="form-group" style="margin-bottom: 15px; margin-top: 15px">
            <label>RePassword:</label>
            <input class="form-control" type="password" asp-for="@Model.rePassword" />
            <span asp-validation-for="@Model.rePassword"></span>
        </div>
        <div>
            <button class="btn btn-outline-success">Register</button>
        </div>
    </form>
</div>
